body {
     background-image: url('../Image/p1.png');
	 background-size: cover;
	 background-attachment: fixed; 
}

.mySlides {
	display:none;}

* {margin:0; padding:0;}
	
.navbar {
	float: left;
	background: #1E90FF	;
	width: 100%;
	font-family: Future TimeSplitters;
	font-size: 30px;
} 

footer{	
	background: #4682B4; 
	padding: 40px; 
	height: 80px;
}

.navbar li {
   float: left;
   list-style: none;
}

.navbar li a {
	color: #FFFFFF;
	text-decoration: none;
	padding: 15px;
	display: block;
}
.navbar li a:hover {
	background: white;
	color: #E22761;
}

.center ul{
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
	margin: auto;
}

#test{
	text-align: center;
	font-weight: bold;
	font-family:Geometr706 BlkCn BT;
	font-size: 17px;
	color:#ffffff;
}
	
#test2{
	text-align: left;
	margin-left: 5px;
	margin-bottom: 10px;
	font-family:Geometr706 BlkCn BT;
	font-size: 16px;
	color:#ffffff
}

#konek{
	margin-top: 17px; 
	margin-right: 20px; 
	float: right;
	font-family:Geometr706 BlkCn BT;
	font-size:20px;
	color:white;
}

div.polaroid1 {
  width: 88%;
  background-color: yellow;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
  margin-bottom: 80px;
  margin-left: 50px;
  margin-top: 60px;
}

div.polaroid2 {
  width: 80%;
  background-color: #CD5C5C;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
  margin-bottom: 80px;
  margin-left: 88px;
  margin-top: 60px;
}

div.polaroid3 {
  width: 71%;
  background-color: #00FF00;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
  margin-bottom: 80px;
  margin-left: 90px;
  margin-right: 49px;
  margin-top: 60px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

p.solid {
border-style: solid;
border-color: #EE82EE;
}

.gallery{
margin: 10px 50px;
margin-left: 140px;
}

.gallery img{
padding: 5px;
filter: grayscale(80%);
transition: 1s;
}

.gallery img:hover{
filter: grayscale(0);
transform: scale(1.1);
}